tmp/
my_script.env
.node_modules
node_modules
settings.json
package.json
package-lock.json
.prettierrc
*.exe
*.bak
*.csv
00*.txt
public/*.txt
public/*.csv
public/searchUsers/
??????_???????_??????_20??????.txt
SRCGI.20*
??????_??????_??????_????????.txt
??????_??????_??????_??????_????????.txt
SRCGI_??????_??????_??????_??????_????????.txt
SRCGI
SRCGI_maint
SRCGI.2024*
ShowroomCGI
ShowroomCGI_det
*-workspace
*.tar
*.tar.gz
*.csh
run.sh
update_imports.sh
awk.in
SC*
*_cookies
*.svg
__debug_bin*
*.swp
Backup
kagoya09
ShowroomCGIlib/public
SRCGI_20??????-????
SRCGI.??????_??????
SRCGIt.??????_??????
SRCGI.??????_??????_*
SRCGI_??????_???????_*
SRCGIt.??????_??????_*
flake.*