*.exe
*.bak
*.csv
00*.txt
??????_???????_??????_20??????.txt
SRCGI.20*
??????_??????_??????_????????.txt
SRCGI
SRCGI_maint
ShowroomCGI
ShowroomCGI_det
workspace.code-workspace
*.tar
*.tar.gz
*.csh
*.sh
awk.in
SC*
go.mod
go.sum
*_cookies
*.svg
launch.json
__debug_bin*
*.swp
Backup
kagoya09
ShowroomCGIlib/public
ShowroomCGIlib/DBConfig.yml
SRCGI_20??????-????
