## CGIとして動作させるときのWebサーバを指定する。
## WebServer nginxSakura, Apache2Ubuntu or None
## NoneはこのプログラムをWebサーバとして動作させる。
## この設定はグラフを作るときSVGファイルをどこに置くかということに関係する。
## グラフを出力しないケースではどのような設定にしても問題ないでしょう。
WebServer: None
HTTPport: ${HTTPPORT}
#
#
# SSLに関する設定は環境変数で渡す。
## CGIとして実行するときあるいはSSLを使用せずWebServerとして実行するときは設定しない。
## SSL証明書関連のファイルはふつうrootしか参照できない形でおかれているので
## その対策が必要です。
## 今は~/.letsencrypt にコピーしてきて使っていますが...
SSLcrt: ${SSLCRT}
SSLkey: ${SSLKEY}
#
#
# イベント一覧に表示するイベントの数（緊急対応でここに）
NoEvent: 30
#
# メンテナンスに際して機能を停止し、メンテナンス中であることを表示する
#Maintenance: true

# ボットの排除レベル
LvlBots: 2

#	時間枠のアクセス回数上限
AccessLimit: 3
# アクセス回数制限の時間枠(秒単位)
TimeWindow: 1

# Cloudflare Turnstile設定
TurnstileSiteKey: ${TURNSTILE_SITE_KEY}
TurnstileSecretKey: ${TURNSTILE_SECRET_KEY}
# Turnstileセッション管理
TurnstileUseSession: true       # セッション機能の有効/無効
TurnstileSessionDuration: 3600  # セッション有効期間（秒）デフォルト1時間
TurnstileSessionMaxUses: 10     # セッション内の最大利用回数（0=無制限）