<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ToDo List</title>
</head>
<body>
<h1>ToDo List</h1>
<table border="1" cellpadding="5" cellspacing="0">
<tr>
    <th>日付</th>
    <th>種別</th>
    <th>対象</th>
    <th>内容</th>
    <th>対応</th>
    <th>終了</th>
</tr>
<tr>
    <td>2025-09-29</td>
    <td>不具合<br>(デグレ)</td>
    <td>graphtotal</td>
    <td>[表示する最大ポイント]が無効になっている</td>
    <td>ブロックID部分を削除する</td>
    <td>2025-09-30</td>
</tr>
<tr>
    <td>2025-09-29</td>
    <td>不具合</td>
    <td>edit-user2</td>
    <td>貢献リストへのリンク誤り</td>
    <td>ブロックID部分を削除する</td>
    <td>2025-09-30</td>
</tr>
</body>
</html>